*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 15px 5px 20px; */
    height: 100px;
}

.navbar-bg{
    background: lightyellow;
}

.navbar-logo-left{
    border: 2px #000 solid;
    margin-left: 25px;
    flex: 1;
    width: 15%;
}

.navbar-menu-right{
    /* padding: 5px; */
    /* border: 1px solid black; */
    padding-right: 30px;
    flex: 2;
    width: 40%;
}

.navbar-ul{
    display: flex;
    justify-content: space-between;
    
    /* width: 300px; */
    /* border: 1px solid black; */
}

.navbar-li{
    list-style-type: none;
    margin-left: 25px;
}

.navbar-li_a{
    text-decoration: none;
    color: black;
    transition: .2s ease-in;
    font-size: 24px;
}

.navbar-li_a:hover{
    color: rgba(0, 0, 0, 0.164);
    
}

/* 

HEADER 

*/

.section-setting{
    background:indianred;
    height: calc(100vh - 100px);
}